@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #171717;
  color: white !important;
}

button{
  margin: 5px;
  padding: 5px;
}

.btn-container{
  display: flex;
  justify-content: end;
}

.ticket-modal-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-container{
  display: flex;
  gap: 10px;
  padding: 20px;
}

.task-modal{
  color: white;
}

.task-modal input,textarea,select{
  color:white!important;
  padding: 15px;
}

.modal{
  background-color: rgb(33, 39, 42)
}

label{
  color: white!important;
} 

.ticket-item{
  border: 1px solid white;
  margin: 10px;
  display: flex;
  gap: 20px;
}