@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./styles/ticket-modal.css);
@import url(./styles/task-modal.css);

body{
  background-color: rgb(24, 156, 156);
}

button{
  border:1px solid white;
  margin: 5px;
  padding: 5px;
}

.task-title{
  color: orangered;
}